<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/quiz.css">
</head>

<body>
    <div class="universal">

        <div class="header">
            <h1>QUIZ</h1>
        </div>


        <!-- Question number 1 -->

        <div class="questbox">
            <div class="ques">
                1. Who was the first person to step on moon?
            </div>
            <div class="answerbox child1">
                Neil Armstrong
            </div>
            <div class="answerbox child2">
                Aditya Choudhary
            </div>
            <div class="answerbox child3">
                Katrina Kaif
            </div>
            <div class="answerbox child4">
                Selmon Bhoi
            </div>
        </div>

        <!-- question number 2 -->

        <div class="questbox">
            <div class="ques">
                2. When is IIT Kharagpur going to call back the students ?
            </div>
            <div class="answerbox child1">
                By October
            </div>
            <div class="answerbox child2">
                By January
            </div>
            <div class="answerbox child3">
                2<sup>nd</sup> Year bhi online
            </div>
            <div class="answerbox child4">
                Puri BTECH online
            </div>
        </div>

        <!-- Question Number 3 -->

        <div class="questbox">
            <div class="ques">
                3. What is the Full form of HTML ?
            </div>
            <div class="answerbox child1">
                Hyper Text Markup Language
            </div>
            <div class="answerbox child2">
                Hyper Text Makeup Language
            </div>
            <div class="answerbox child3">
                Hyper Text Markdown Language
            </div>
            <div class="answerbox child4">
                Hyper Text Maximum Language
            </div>
        </div>

        <!-- Question Number 4 -->

        <div class="questbox">
            <div class="ques">
                4. What is the population of India ?
            </div>
            <div class="answerbox child1">
                1 crore
            </div>
            <div class="answerbox child2">
                5 crore
            </div>
            <div class="answerbox child3">
                20 crore
            </div>
            <div class="answerbox child4">
                Bahut Zyada
            </div>
        </div>

        <!-- Question Number 5 -->

        <div class="questbox">
            <div class="ques">
                5. Which team in world cricket has ICC test ranking 1 ?
            </div>
            <div class="answerbox child1">
                Australia
            </div>
            <div class="answerbox child2">
                India
            </div>
            <div class="answerbox child3">
                Pakistan
            </div>
            <div class="answerbox child4">
                England
            </div>
        </div>


        <!-- Navigation Buttons -->
        <div class="footer">
            <div class="active" onclick="response(-1)">
                Previous
            </div>
            <div class="next" onclick="response(1)">
                Next
            </div>
        </div>
    </div>

    <script src="static/js/quiz.js"></script>
</body>

</html>